<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>App 594</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <p>
      This site implements the process for the scenario titled 
      <i>My site only uses Facebook for Registration</i> described in
      <a href="https://developers.facebook.com/docs/user_registration/flows/">User Registration Flows</a>.
    </p>

    <div id="msg"></div>

    <button id="login" onclick="login()" style="display: none">Login</button>

    <script src="js/jquery-1.8.3.min.js"></script>
    <script>
      function login() {
        FB.login(function(response) {
          if (response.authResponse) {
            FB.api('/me', function(response) {
              $('#login').hide();
              $('#msg').html('Hello, ' + response.name + '.');
            });
          } else {
              $('#msg').html('Authorization cancelled.');
          }
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= appId %>',
          channelUrl : '://' + window.location.host + '/channel.html',
          status     : true,  // Check the login status upon init.
          cookie     : true,  // Set session cookies to allow your server to access the session.
          xfbml      : false  // Parse XFBML tags on this page.
        });
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            $('#msg').html('Welcome back.');
          } else {
            $('#login').show();
          }
        });
      };
    
      // Load the SDK's source Asynchronously.
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));
    </script>

  </body>
</html>
