<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>App 594</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body onload="onload()">
    <div id="fb-root"></div>

    <div id="updating-view" style="display: none">
      <div>Updating...</div>
    </div>
    
    <div id="error-view" style="display: none">
      <div id="error">Error</div>
    </div>
    
    <div id="game-view">
      <div id="number"></div>
      <button id="increment-btn">Increment</button>
      <button id="save-btn" style="display: none">Save</button>
      
      <div>
        <img id="picture" />
      </div>
    </div>
    
    <div>
      This app is deployed on a free-tier dyno, 
      so there will be a long delay when loading the page
      if the server needs to start up.  The app will idle
      after one hour of inactivity.
    </div>
    
    <div>
      Need to add code to re-auth with Facebook if secret is bad on save operation.
    </div>
    
    <div id="friends">
    </div>
    
    <div>
      Audio is not currently cached by chrome -- will try cached datauri and maybe localstorage.
    </div>

    <button onclick="playClick()">click</button>
        
    <audio id="click-sound" preload="auto">
      <source src="snd/Button_C-J_Fairba-8445_hifi.ogg" type="audio/ogg">
      <source src="snd/Button_C-J_Fairba-8445_hifi.mp3" type="audio/mpeg">
    </audio>
    
    <script>
      function onload() {
        document.getElementById('click-sound').volume = 0;
        document.getElementById('click-sound').currentTime = 0;
        document.getElementById('click-sound').play();
      }
      
      function playClick() {
      if (window.chrome) {
        document.getElementById('click-sound').load();
      } else {
        document.getElementById('click-sound').currentTime = 0;
      }
        document.getElementById('click-sound').volume = 1;
        document.getElementById('click-sound').play();
      }
    </script>    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script>
      var app = <%- app %>;

      // define app.setView
      (function() {
        var currentView = 'updating-view';
        app.setView = function(view) {
          if (view == currentView) return;
          $('#' + currentView).hide();
          $('#' + view).show();
          currentView = view;
        }
      })();

      app.saveNumber = function() {
        app.setView('updating-view');
        $.ajax({
          url: '/save',
          data: JSON.stringify({
            uid: app.uid,
            secret: app.secret,
            gameState: app.gameState
          })
        })
        .done(function(data) {
          if (data.error) {
            $('#error').html(data.error);
            app.setView('error-view');
          } else if (data.login) {
            $('#error').html('need to login into facebook again');
            app.setView('error-view');
          } else {
            $('#number').html(app.gameState.number);
            app.setView('game-view');
          }
        })
        .fail(function(jqXHR, textStatus) {
          console.log('textStatus: ' + textStatus);
          console.log(jqXHR);
          $('#error').html(textStatus);
          app.setView('error-view');
        });
      };

      $(function() {
				$.ajaxSetup({
					global: false,
					type: "POST",
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					cache: false 
				});
				
				$('#number').html(app.gameState.number);
        
        $('#increment-btn').click(function() {
          ++app.gameState.number;
          $('#number').html('' + app.gameState.number);
          $('#save-btn').show();
        });
        
        $('#save-btn').click(function() {
          $('#save-btn').hide();				  
          app.saveNumber();
        });
        
        $('#picture').attr('src', 'http://graph.facebook.com/' + app.uid + '/picture?type=normal');
        
        // Get the friends list.
        
        var qs = 'SELECT+name,+pic_square,+is_app_user+FROM+user+WHERE+uid+IN+(SELECT+uid2+FROM+friend+WHERE+uid1+=+me())';        
        $.ajax({
          url: 'https://graph.facebook.com/fql?q=' + qs + '&access_token=' + app.secret,
//          url: 'https://graph.facebook.com/fql?q=SELECT+uid2+FROM+friend+WHERE+uid1=me()&access_token=' + app.secret,
          type: "GET",
					dataType: 'json'
        })
        .done(function(data) {
          if (data.data === undefined) {
            $('#error').html('data.data is undefined');
            app.setView('error-view');
            return;
          }
          data.data.forEach(function(friend) {
            var $div = $('<div></div>');
            $div.append('<span>' + friend.name + '</span>');
            $div.append('<img src="' + friend.pic_square + '"/>');
            $div.append('<span>' + friend.is_app_user + '</span>');
            $('#friends').append($div);
          });
        })
        .fail(function(jqXHR, textStatus) {
          console.log('textStatus: ' + textStatus);
          console.log(jqXHR);
          $('#error').html(textStatus);
          app.setView('error-view');
        });
      });
    </script>

  </body>
</html>
