<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>App 594</title>
  </head>
  <body>
    <div id="fb-root"></div>
    
    <div id="status">Loading ...</div>
    <button id="login-btn" onclick="loginFacebook()" style="display: none">Login</button>
        
    <script>
      function loginFacebook() {
        console.log("loginFacebook called");
        FB.login(function(response) {
          if (response.authResponse) {
            console.log('authResponse present');
            window.location = window.location + 
              '?uid=' + response.authResponse.userID + 
              '&token=' + response.authResponse.accessToken;
          } else {
            console.log('authReponse not present');
            document.getElementById('status').style.display = 'none';
            document.getElementById('login-btn').style.display = 'block';
          }
        });
      }
      
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= appId %>',
          channelUrl : '://' + window.location.host + '/channel.html',
          status     : true, // check the login status upon init?
          cookie     : false, // set sessions cookies?
          xfbml      : false  
        });
        
        window.loginTimeout = setTimeout(function() { 
        console.log('timeout triggered');
          document.getElementById('status').style.display = 'none';
          document.getElementById('login-btn').style.display = 'block'; 
        }, 1000);
      

        FB.getLoginStatus(function(response) {
          clearTimeout(loginTimeout);
          console.log("getLoginStatus callback called");
          if (response.status === 'connected') {
            console.log("connected to facebook");
            window.location = window.location + 
              '?uid=' + response.authResponse.userID + 
              '&token=' + response.authResponse.accessToken;
          } else {
            console.log("user did not login or did not authorize app");
            document.getElementById('status').style.display = 'none';
            document.getElementById('login-btn').style.display = 'block';
          }
        });
        
        FB.Canvas.setAutoGrow();
      };
      // Load the SDK's source Asynchronously
      (function(d, debug){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
         ref.parentNode.insertBefore(js, ref);
       }(document, /*debug*/ false));
    </script>

  </body>
</html>
